/nbproject/private/
/[[]document/
/vendors/[[]trash/
/components/float-action-button/[[]trash/
/components/[[]trash/
/[[]demo-content/
/src/vendors/[[]trash/
/src/components/[[]trash/
/node_modules/
/src/components/FloatActionButton/[[]trash/
/src/components/CodeMirrorEditor/[[]trash/
/src/components/DataTable/vendors/handsontable/[[]trash]/
/src/components/ConfigurationPanel/DecisionTree/vendors/decision-tree/[[]trash/
/assets/data/[[]trash/