.favicon {
  display: flex !important;
  align-items: center;
  justify-content: center;

  padding: 0 !important;

  img {
    max-height: calc(.78571429em * 2 + 1rem);
    width: auto;
    @radius: .28571429rem;
    border-top-left-radius: @radius;
    border-bottom-left-radius: @radius;
  }

  .title {
    text-align: center;
    width: 100%;

    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 15rem;
    display: block !important;
  }
}
