body {
  overscroll-behavior-y: contain;
  //overflow-x: hidden;
  padding: 0;
  margin: 0;
}

body > .non-invasive-web-style-framework.dimmable {
  overflow-x: initial !important;
}

body {
  min-height: 100vh !important;
  min-height: -webkit-fill-available !important;
}
html {
  height: -webkit-fill-available !important;
}
