.favicon {
  display: flex !important;
  align-items: center;
  justify-content: center;

  padding: 0 !important;

  /*
  img {
    max-height: calc(.78571429em + 1rem) !important;
    width: auto !important;
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
  }
  */

  .favicon {
    // max-height: calc(.78571429em * 2 + 1rem);
    // width: auto;
    height: 100%;
    width: 3.8rem;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;

    @radius: .28571429rem;
    border-top-left-radius: @radius;
    border-bottom-left-radius: @radius;

    // margin-left: 0.5rem !important;
    // margin-right: 0.5rem !important;
  }

  .title {
    text-align: center;
    width: 100%;

    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 15rem;
    display: block !important;

    line-height: 1.15rem;

    // margin-left: 0.5rem !important;
    margin-right: 0.2rem !important;
  }
}


a.item:not(.favicon) {
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 15rem;
  display: block !important;
}
