<div class="ConfigurationPanel ui form">
  <div class="ui segment">
    <div class="field">
      <label for="dashboardInformation">
        {{ $t('Dashboard Information') }}
      </label>
      <div class="ui action input">
        <input type="text" :value="dashboardInformation" onfocus="this.select();" />
        <button @click="utils.ClipboardUtils.copyPlainString(dashboardInformation)" class="ui button"><i class="copy icon" /></button>
      </div>
        
      
    </div>
    <div class="field">
      <label for="dashboardConfigURL">
        {{ $t('Dashbaord Config URL') }}
        (<a href="https://docs.google.com/spreadsheets/d/1TmXDFSoRJXilVXo5rmGLoX5XkLYjaSCGIgOYs94a7_Q/edit?usp=sharing" 
          target="_blank">example</a>)
      </label>
      <input type="text" v-model="dashboardConfigURL" id="dashboardConfigURL" />
    </div>

    <div class="ui equal width grid">
      <div class="column" v-if="config.dashboardConfig.configuration">
          <a 
            :href="config.dashboardConfig.configuration"
            target="_blank"
            class="ui fluid button"
            @click.prevent.stop="utils.PopupUtils.openURLFullscreen(config.dashboardConfig.configuration)">{{ $t('OPEN CONFIGURATION') }}</a>
      </div>
      <div class="column">
        <button type="button"
          class="ui fluid button"
          @click="save">{{ $t('SAVE') }}</button>
      </div>
      <div class="column">
        <button type="button"
          class="ui fluid button"
          @click="back">{{ $t('CANCEL') }}</button>
      </div>
      <div class="column">
        <button type="button"
          class="ui fluid button"
          @click="location.reload()">{{ $t('RELOAD') }}</button>
      </div>
    </div>
    
      
  </div>

  <Author 
    ref="Author"
    v-bind:config="config"
    v-bind:localConfig="localConfig"
    v-bind:utils="utils">
  </Author>
</div>