<div class="Index">
  <div v-show="config.dashboardConfig !== null && config.view === 'dashboard'">
    <NavigationBar 
      v-if="config.dashboardConfig && config.dashboardConfig['navigation-position'] === 'top'"
      ref="NavigationBar"
      v-bind:config="config"
      v-bind:localConfig="localConfig"
      v-bind:utils="utils"
      v-bind:routingID="routingID">
    </NavigationBar>

    <Dashboard 
      ref="Dashboard"
      v-if="config.dashboardConfig"
      v-bind:config="config"
      v-bind:localConfig="localConfig"
      v-bind:utils="utils"
      v-bind:routingID="routingID">
    </Dashboard>

    <NavigationBar 
      ref="NavigationBar"
      class="fixed bottom"
      v-if="config.dashboardConfig && config.dashboardConfig['navigation-position'] === 'bottom'"
      v-bind:config="config"
      v-bind:localConfig="localConfig"
      v-bind:utils="utils"
      v-bind:routingID="routingID">
    </NavigationBar>
  </div>
  <div v-if="!config.dashboardConfig">
    讀取中
  </div>
  
  <ConfigurationPanel 
    v-if="config.view === 'configuration'"
    ref="ConfigurationPanel"
    v-bind:config="config"
    v-bind:localConfig="localConfig"
    v-bind:utils="utils"
    v-bind:routingID="routingID">
  </ConfigurationPanel>

</div>