<div class="Dashboard"
  :data-navigation-position="config.dashboardConfig['navigation-position']"
  :data-dashboard-type="config.dashboardConfig['dashboard-type']"
  :class="computedClasses">
  <template v-if="inited">
    <template v-for="(url, i) in urlList">
      <PanelIframe
        v-if="typeof(url) === 'string'"
        ref="PanelIframe"
        :url="url"
        :tab="tab.title"
        :tabType="tabTypes[i]"
        :panelIndex="i"
        :config="config"
        :localConfig="localConfig"
        :utils="utils"
        :routingID="routingID"></PanelIframe>
      <PanelButtonList 
        v-else-if="typeof(url) === 'object'"
        ref="PanelButtonList"
        :url="url"
        :searchButton="searchButtons[i]"
        :tabType="tabTypes[i]"
        v-bind:config="config"
        v-bind:localConfig="localConfig"
        v-bind:utils="utils"
        v-bind:routingID="routingID">
      </PanelButtonList>
      <PanelUnderConstruction 
        v-else-if="url === false"
        :tabType="tabTypes[i]"
        ref="PanelUnderConstruction"
        v-bind:config="config"
        v-bind:localConfig="localConfig"
        v-bind:utils="utils"
        v-bind:routingID="routingID">
      </PanelUnderConstruction>
    </template>
  </template>
</div>