<div class="Dashboard"
  :data-navigation-position="config.dashboardConfig['navigation-position']"
  :data-dashboard-type="config.dashboardConfig['dashboard-type']">
  <div :class="'type_' + tab.type">
    <template v-for="(url, i) in urlList">
      <iframe
        v-if="typeof(url) === 'string'"
        :class="'panel num' + i + ' panel_' + $parent.tabTypes[i]" 
        :src="url" 
        :data-start="$parent.tabTypes[i][0]"
        :data-end="$parent.tabTypes[i][1]"
        :data-row="parseRow($parent.tabTypes[i])"
        :data-col="parseCol($parent.tabTypes[i])"
        :data-width="parseWidth($parent.tabTypes[i])"
        :data-height="parseHeight($parent.tabTypes[i])"
        frameBorder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div v-else-if="Array.isArray(url)"
        :class="'panel ui segment num' + i + ' panel_' + $parent.tabTypes[i]"
        :data-start="$parent.tabTypes[i][0]"
        :data-end="$parent.tabTypes[i][1]"
        :data-row="parseRow($parent.tabTypes[i])"
        :data-col="parseCol($parent.tabTypes[i])"
        :data-width="parseWidth($parent.tabTypes[i])"
        :data-height="parseHeight($parent.tabTypes[i])">
        Array
        <div class="ui input fluid field search-buttons"
          :class="{'icon': (searchButtons[i] && searchButtons[i].trim() !== '')}">
          <input type="text" :placeholder="$t('Search...')"
            v-model="searchButtons[i]" />
          <i class="x link icon" v-if="(searchButtons[i] && searchButtons[i].trim() !== '')"
            @click="clearSearch(i)" />
        </div>
        <div class="ui equal width grid"
           v-for="rowButtons in filterSearchButton(url, searchButtons[i])">
          <div class="column"
            v-for="button in rowButtons">
            <a class="ui fluid button"
              :href="button[1]"
              target="_blank"
              @click.prevent.stop="utils.PopupUtils.openURLFullscreen(button[1])">
              {{ button[0] }}
            </a>
          </div>
        </div>
      </div>
      <div v-else-if="typeof(url) === 'object'"
        :class="'panel ui segment num' + i + ' panel_' + $parent.tabTypes[i]"
        :data-start="$parent.tabTypes[i][0]"
        :data-end="$parent.tabTypes[i][1]"
        :data-row="parseRow($parent.tabTypes[i])"
        :data-col="parseCol($parent.tabTypes[i])"
        :data-width="parseWidth($parent.tabTypes[i])"
        :data-height="parseHeight($parent.tabTypes[i])">
        JSON
        <div class="ui input fluid field"
          :class="{'icon': (searchButtons[i] && searchButtons[i].trim() !== '')}">
          <input type="text" :placeholder="$t('Search...')"
            v-model="searchButtons[i]" />
          <i class="x link icon" v-if="(searchButtons[i] && searchButtons[i].trim() !== '')"
            @click="clearSearch(i)" />
        </div>
        <div class="ui field"
          v-for="button in filterButtons(url, searchButtons[i])">
          <a class="ui fluid button"
            :href="button.url"
            target="_blank"
            @click.prevent.stop="utils.PopupUtils.openURLFullscreen(button.url)">
            {{ button.title }}
          </a>
        </div>
      </div>
    </template>
  </div>
</div>