.NavigationBar {
  height: 50px;
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}

h1.item.header {
  font-size: 1rem !important;

  img {
    max-height: 1.5rem !important;
    width: auto !important;
    margin-right: 0.5rem !important;
  }
}

