<div class="NavigationBar ui menu form"
  :style="{'background-color': config.dashboardConfig['theme-color']}"
  :class="{inverted: (config.dashboardConfig['theme-inverted'] === true)}">
  <h1 class="item header">
    <img :src="config.dashboardConfig.favicon" />
    {{ config.dashboardConfig.title }}
  </h1>
  <div class="item select" v-if="config.dashboardConfig['dashboard-type'] === 'dropdown'">
    <div class="field">
      <select v-model="localConfig.tab">
        <option v-for="tab in config.dashboardConfig.tabs"
          :value="tab.title">{{ tab.title }}</option>
      </select>
    </div>
  </div>
  <template
    v-if="config.dashboardConfig && config.dashboardConfig.buttons">
    <a class="item" v-for="button in buttons"
      @click="popupWindow(button.url)"
      >{{ button.title }}</a>
  </template>

  <div class="right menu">
    <div class="item" v-if="openableURLList.length > 1">
      <div class="field">
        <select v-model="focusTab">
          <option v-for="(url, i) in openableURLList"
            :value="i">{{ (i+1) }}</option>
        </select>
      </div>
    </div>
    <a class="item" @click="utils.PopupUtils.openURLFullscreen(openableURLList[focusTab])">
      <i class="external alternate icon"></i>
    </a>
    <a class="item" @click="config.view = 'configuration'">
      <i class="cog icon"></i>
    </a>
  </div>
</div>