.NavigationBar {
  height: 50px;
  margin-bottom: 0 !important;
  border-radius: 0 !important;

  .button {
    margin-right: 0.5rem !important;
  }
}

h1.item.header {
  font-size: 1rem !important;

  img {
    max-height: 1.5rem !important;
    width: auto !important;
    margin-right: 0.5rem !important;
  }
}

.item {
  &.select {
    background-color: white !important;
    padding: 0 !important;
    padding-right: 0.5rem !important;

    .field {
      margin: 0 !important;
    }

    select {
      margin: 0 !important;
      height: 100% !important;
      border: 0 !important;
      border-radius: 0 !important;

      &:focus {
        outline: none;
      }
    }


  }
}