<div class="NavigationBar ui menu form"
  :style="{'background-color': config.dashboardConfig['theme-color']}"
  :class="computedClasses" >

  <template v-if="type === 'dropdown'">
    <a class="item header"
       target="_blank"
       :href="config.dashboardConfig.configuration"
       :title="config.dashboardConfig.title"
       @click.prevent.stop="popupWindow(config.dashboardConfig.configuration)">
      <img :src="config.dashboardConfig.favicon"
        :class="{'white-border': config.dashboardConfig['theme-inverted'] }" />
      {{ config.dashboardConfig.title }}
    </a>
    <div class="item select" v-if="config.dashboardConfig['dashboard-type'] === 'dropdown' && config.dashboardConfig.tabs.length > 1">
      <div class="field">
        <select v-model="localConfig.tab">
          <option v-for="tab in config.dashboardConfig.tabs"
            :value="tab.title">{{ tab.title }}</option>
        </select>
      </div>
    </div>
    <div class="bar-buttons">
      <NavigationBarButton 
        v-if="config.dashboardConfig && config.dashboardConfig.buttons"
        v-for="button in buttons"
        ref="NavigationBarButton"
        :url="button.url"
        :title="button.title"
        v-bind:config="config"
        v-bind:localConfig="localConfig"
        v-bind:utils="utils"
        v-bind:routingID="routingID">
      </NavigationBarButton>
    </div>
  
    <div class="right menu">
      <div class="item" v-if="openablePanelList.length > 1">
        <div class="field">
          <select v-model="focusTab">
            <option v-for="(item, i) in openablePanelList"
              :value="i">{{ (i+1) }}:{{ item.type.toUpperCase() }}</option>
          </select>
        </div>
      </div>
      <a class="item" @click.prevent.stop="utils.PopupUtils.openURLFullscreen(openableURLList[focusTab])"
        :href="openableURLList[focusTab]"
        target="_blank">
        <i class="external alternate icon"></i>
      </a>
      <a class="item" @click="config.view = 'configuration'">
        <i class="cog icon"></i>
      </a>
    </div>
  </template>

  <template v-if="type === 'simple'">
    <a class="item" @click="config.view = 'configuration'">
      <i class="cog icon"></i>
    </a>
  </template>
</div>